.navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(141, 219, 193);
}

.nav {
    margin: 10px;
    text-decoration: none;
    color: brown;
}

.login-container {
    background-color: aliceblue;
}

.logout {
    margin: 18px;
    text-decoration: none;
    color: brown;
}
